.rbenv-version
bin
lib

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio 2010 nonsense
*.sdf
ipch
*.suo
Debug
Release
*.user
*.filters